.caja {
    width: 300px;
    height: 150px;
    background-color: rgb(176, 134, 224);
    color: black;

    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 50px;

    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;

    border-top: 2px solid rgb(176, 95, 136);
    border-right: 4px dotted rgb(128, 96, 186);
    border-bottom: 6px double rgb(88, 44, 154);
    border-left: 3px dashed black;

    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 40px;
}

.boton {
    display: inline-block;
    background-color: rgb(225, 115, 183);
    color: white;
    text-decoration: none;

    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 50px;

    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;

    border-top: 2px solid rgb(146, 113, 202);
    border-right: 4px dotted rgb(99, 53, 153);
    border-bottom: 6px double rgb(72, 15, 45);
    border-left: 3px dashed black;

    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 40px;
}

.tarjeta {
    width: 300px;
    height: 150px;
    background-color: pink;
    color: black;

    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 50px;

    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;

    border-top: 2px solid rgb(98, 60, 160);
    border-right: 4px dotted rgb(93, 51, 170);
    border-bottom: 6px double rgb(146, 57, 118);
    border-left: 3px dashed black;

    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 40px;
}

.flex {
    display: flex;
}

.contenedor {
    display: flex;
}

span {
    color: rgb(117, 20, 62);
    font-weight: bold;
}